<div class="card medium">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="assets/images/eosc-edmi.png">
  </div>
  <div class="card-content">
    <div class="row" style="text-align:center">
        <a class="waves-effect waves-light btn orange darken-1" target="_blank" href="{{site.EOSC}}"><i class="material-icons right">home</i>EOSCPilot</a>
        <a class="waves-effect waves-light btn orange darken-1" target="_blank" href="{{site.reports}}"><i class="material-icons right">library_books</i>Reports</a>
        <a class="waves-effect waves-light btn orange darken-1" target="_blank" href="{{site.github}}"><i class="material-icons right">code</i>Github</a>
    </div>
  </div>
</div>
